/* Design By Yahia Smeism */
body {
  background-color: #dddddd;
  /* box-sizing: border-box; */
  font-family: Arial, Helvetica, sans-serif;
}
.rounded{
  border-radius: 12px !important;
  -webkit-border-radius: 12px !important;
  -moz-border-radius: 12px !important;
  -ms-border-radius: 12px !important;
  -o-border-radius: 12px !important;
}